@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@300;400;700&family=IBM+Plex+Sans:wght@300;400;700&display=swap');

// font-family: 'IBM Plex Mono', monospace;
// font-family: 'IBM Plex Sans', sans-serif;

body {
    background-color: #161616;
}

.flex {
   display: flex;
   justify-content: center;
   align-items: center;
   
}
.inline-icon {
    @extend .flex;
    width: 22px;
    svg {
        width: 22px;
    }
}

.inline-icon-2 {
    @extend .inline-icon;
    width: 25px;
    svg {
        width: 25px;
    }
}

.clickable {
    cursor: pointer;
}

.meta {
    opacity: .5;
}

.blurred-bg {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999999999999999999;    
    background: rgba( 255, 255, 255, 0.15 );
    backdrop-filter: blur( 7.0px );
    -webkit-backdrop-filter: blur( 7.0px );
}

.popUp{
    width: 400px;
    height: 350px;
    background: #161616;
    border-radius: 4px;
    position: absolute;
    top: 30%;
    left: 50%;
    margin-left: -200px;
    padding: 20px;
    box-sizing: border-box;

    .next-btn {
        position: absolute;
        right: -60px;
        width: 50px;
        height: 50px;
        background: #161616;
        border-radius: 50px;
        top: 50%;
        margin-top: -25px;
        cursor: pointer;

        .next-icon {
            text-align: center;
            /* margin: auto 0; */
            /* margin-top: 50%; */
            position: absolute;
            top: 46%;
            left: 52%;
            transform: translate(-50%,-50%) rotate(180deg);

            > svg {
                width: 12px;
                height: auto;
            }
        }

    }

    .back-btn {
        @extend .next-btn;
        left: -60px;
        
        .back-icon {
            @extend .next-icon;
            transform: translate(-50%,-50%);
            top: 56%;
            left: 46%;

            
        }
    }

    .popUpContent {
        width:100%;
        height:100%;
        box-sizing: border-box;  
        transition: all ease 0.5s;      

        .boat {
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: column;
            flex-wrap: nowrap;
            justify-content: space-around;
            align-items: center;
            align-content: stretch;
            text-align: center;


            
    
            &-title {
                font-family: 'IBM Plex Sans', sans-serif;
                color: whitesmoke;
                margin: 0;
                font-weight: 400;
                -webkit-touch-callout: none; /* iOS Safari */
                -webkit-user-select: none; /* Safari */
                -khtml-user-select: none; /* Konqueror HTML */
                -moz-user-select: none; /* Old versions of Firefox */
                    -ms-user-select: none; /* Internet Explorer/Edge */
                        user-select: none; /* Non-prefixed version, currently
                                            supported by Chrome, Edge, Opera and Firefox */

    
            }

            .spacebar-icon > svg {
                width: 230px;
            }

            .speed-icon > svg {
                width:315px;
            }

            .click-icon > svg {
                width: 315px;
            }
        }
    }

    
}

.displayN {
    display: none !important;
}