body {
    background-color: #161616;
}

.flex {
   display: flex;
   justify-content: center;
   align-items: center;
   
}
.inline-icon {
    @extend .flex;
    width: 22px;
    svg {
        width: 22px;
    }
}

.inline-icon-2 {
    @extend .inline-icon;
    width: 25px;
    svg {
        width: 25px;
    }
}

.clickable {
    cursor: pointer;
}

.meta {
    opacity: .5;
}

.blurred-bg {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999999999999999999;    
    background: rgba( 255, 255, 255, 0.15 );
    backdrop-filter: blur( 7.0px );
    -webkit-backdrop-filter: blur( 7.0px );
}

.popUp{
    width: 400px;
    height: 500px;
    background: #161616;
    border-radius: 4px;
    position: absolute;
    top: 20%;
    left: 50%;
    margin-left: -200px;
    padding: 10px;

    .next-btn {
        position: absolute;
        right: -60px;
        width: 50px;
        height: 50px;
        background: #161616;
        border-radius: 50px;
        top: 50%;
        margin-top: -25px;

    }
}