@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300&display=swap');

.glass-block{
  background: rgba( 35, 35, 35, 0.55 );
  backdrop-filter: blur( 22px );
  -webkit-backdrop-filter: blur( 22px );
  border-radius: 5px;
  padding: 20px 40px;
  color: whitesmoke;
}

.glass-block-border{
  @extend .glass-block;
  border: 1px solid rgba( 255, 255, 255, 0.18 );
}



.fixed-bottom-box{
  position: fixed;
  bottom: 20px;
}

.lector-settings {
  @extend .fixed-bottom-box;
  //@extend .glass-block;
  .pop-up-settings {
    background-color: #262626;
    border-radius: 5px;
    left: -10px;
    transition: all .2s;
    padding: 10px 10px;
    margin-left: 40px;
    font-family: 'Poppins', 'Inter', 'Arial Narrow', Arial, sans-serif;
    width: 80%;
  }

  .pragma-input-element{
    display: flex;
    flex-direction: column;
    width: fit-content;
    justify-content: center;
  }
  .section {
    margin: 20px 0;
    

    &:hover > .pragma-label {
      opacity: 1;
      //  visibility: visible;
    }

    .pragma-label{
      opacity: 0;
      transition: all .2s ease;
      position: absolute;
      // left: 10px;
      left: 25%;
      margin-top: -55px;
      font-size: 12px;
      color: whitesmoke;
      .option-title{
        color: rgba(199, 199, 199, 0.92);
      }
    }
  }

  .selector {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    align-content: stretch;
    position: absolute;
    left: -10%;
    top: -80px;
    background-color: #393939;
    width: fit-content;
    border-radius: 2px;
    overflow: hidden;

     &-mode {
      @extend .selector;
      padding: 0;
      color: #262626;
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      justify-content: center;
      align-items: center;
      align-content: center;
      left: -12%;
      top: -70px;
    }

    &-fovea {
      @extend .selector;
      width: 150px; 
      height: 45px;
      padding: 0 10px;
      left: -13%;
    top: -70px;
    z-index: 45678;
    }

  }
  
  .setting {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
    align-content: stretch;
    margin: 20px 0;

    .setting-icon {
      width: 30px;
      height: 30px;
    }

    &-wpm {
      @extend .setting;
      background-color: #262626;
      border-radius: 5px;
      left: -10px;
      transition: all .2s;
      padding: 10px 10px;
      margin-left: 40px;
      font-family: 'Poppins', 'Inter', 'Arial Narrow', Arial, sans-serif;
      width: 80%;
    }
  }

  .wpm-icon {
    color: #fff;
    opacity: 75%;
    font-size: 22px;
  }

  .color-indicator {
    width: 25px;
    height: 25px;
    background-color: rgb(168, 241, 154);
    border-radius: 50%;
  }

  .mode-indicator {
    mix-blend-mode: normal !important;
    width: 35px;
    height: 25px;
  }

  .modeOption {
    width: 45px;
    height: 25px;
    padding: 10px 5px;

    filter: grayscale(1);
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent !important;
    &.inactive {
      background-color: transparent !important;
      opacity: .5 !important;

    }
    &.active {
    
      filter: grayscale(0);
      opacity: 1 !important;
      background-color: #6F6F6F !important;

    }

    // background-color: red !important;

    .mini-pointer {
      height: 70%;
      width: 70%;
    }

    // &::after {
    //   content: "ABC";
    //   color:black;
    //   text-align: center;
    // }

    
  }

  .displayN {
    display: none;
  }

  #underneath {
    margin: 0 !important;
    position: relative;
    // top: -8px;
    // content: "A";
    // color: #fff !important;    

    // ::before {
    //   top: 2px;
    // }
    
  }

  #hotbox {
  }

  #faded {
  }

  
  
  #font {
    
  }
  
  #color {
    
  }

  #mode {

  }

  #fovea {
    // margin-top: 15px;
    height: fit-content;
    .pragma-label{
      margin-top: -25px;
    }
  }
  
  #wpm {
    .pragma-label {
      position: relative;
      left: 0;
      margin: 0;
      opacity: 1;
      font-size: 18px;
    }
  }
  
  
}

.lector-mini-settings{
  @extend .glass-block;
  @extend .fixed-bottom-box;
  right: -10px;
  padding-right: 40px;
  
  .section {
    margin-top: 25px;
    margin-bottom: 25px;
  }
}
.settings-input{
  display: flex;
  flex-direction: column;
  align-items: center;
}



.pragma-input-text {
  font-family: 'Poppins', sans-serif;
  font-size: 22px;

  border-style: none;
  outline: none;
  color: whitesmoke;
  border-radius: 2px;
  background-color: transparent;
  margin: 5px 10px;
  text-align: center;

  &:hover {
    background: #393939;

  }
}

.active-select-template {
  display: flex;
  flex-direction: row;
  flex-wrap: no wrap;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  padding: 10px;

  .option {
    user-select: none;
    cursor: pointer;
  }
  
  .active {
    opacity: 1 !important;
    background-color: gray;
    position: relative;
    transform-style: preserve-3d;

    &::after {
      
    height: 32px;
    top: -6px;
    left: -10px;

    }

    &::before {
      width: 157%;
    /* margin: auto; */
    height: 32px;
    top: -6px;
    border-radius: 2px;
    left: -10px;
    background-color: #6F6F6F;
    position: absolute;
    
    z-index: -1;
    transform: translateZ(-1px);
    transition: ease all 0.2s;        //TODO Add animation
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
      animation: sheen 1s forwards;
    
    
    }

   
  }
  
  .inactive {
    background-color: rgb(26, 26, 26);

    

  }
}

