@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@300;400;600;700&display=swap');

.glass-block{
  background: rgba( 35, 35, 35, 0.55 );
  backdrop-filter: blur( 22px );
  -webkit-backdrop-filter: blur( 22px );
  border-radius: 5px;
  padding: 20px 40px;
  color: whitesmoke;
}

.glass-block-border{
  @extend .glass-block;
  border: 1px solid rgba( 255, 255, 255, 0.18 );
}



.fixed-bottom-box{
  position: fixed;
  bottom: 20px;
}

// .lector-settings {
//   @extend .fixed-bottom-box;
//   //@extend .glass-block;
//   .pop-up-settings {
//     background-color: #262626;
//     border-radius: 5px;
//     left: -10px;
//     transition: all .2s;
//     padding: 20px 5px 11px 5px;  // 7px bottom cause the fovea icon is a bit more horizonatal so it's an illusion, trippying balls here
//     margin-left: 10px;
//     font-family: 'Poppins', 'Inter', 'Arial Narrow', Arial, sans-serif;
//     width: 200px;
//     margin-bottom: 10px;
//   }

//   .pragma-input-element{
//     display: flex;
//     flex-direction: column;
//     width: fit-content;
//     justify-content: center;
//   }
//   .section {
//     margin: 20px 0;
    

//     &:hover > .pragma-label {
//       opacity: 1;
//       //  visibility: visible;
//     }

//     .pragma-label{
//       opacity: 0;
//       transition: all .2s ease;
//       position: absolute;
//       // left: 10px;
//       left: 25%;
//       margin-top: -55px;
//       font-size: 12px;
//       color: whitesmoke;
//       .option-title{
//         color: rgba(199, 199, 199, 0.92);
//       }
//     }
//   }

//   .selector {
//     display: flex;
//     flex-direction: row;
//     flex-wrap: nowrap;
//     justify-content: center;
//     align-items: center;
//     align-content: stretch;
//     width: fit-content;
//     border-radius: 4px;
//     overflow: hidden;

//      &-mode {
//       @extend .selector;
//       padding: 0;
//       color: #262626;
//       display: flex;
//       flex-direction: row;
//       flex-wrap: nowrap;
//       justify-content: center;
//       align-items: center;
//       align-content: center;
//       left: -7%;
//     top: -70px;
//     }

//     &-fovea {
//       @extend .selector;
//       width: 130px; 
//       height: 45px;
//       left: -9%;
//     top: -70px;
//     z-index: 45678;
//     margin-right: 9px;
//     }

//   }
  

//   .setting {
//     width: 100%;
//     display: flex;
//     flex-direction: row;
//     flex-wrap: nowrap;
//     justify-content: space-around;
//     align-items: center;
//     align-content: stretch;

//     .setting-icon { //THE COLOR ICON width is set in the colorIcon pragma because it's kinda thiccc, like yo ma
//       width: 35px;
//       height: 35px;
//     }

//     &-wpm {
//       @extend .setting;
//       border-radius: 5px;
//       left: -10px;
//       transition: all .2s;
//       margin-left: 20px;
//       font-family: 'Poppins', 'Inter', 'Arial Narrow', Arial, sans-serif;
//       width: 125px;
//       position: relative;

//       .speed-adjust{ // Speed Adjust arrows wrapper
//         width: 10px;

//         .adjusticon {
//           width: 10px;
//           height: 20px;
//         }
//       }

//       &::before {
//         content: "";
//         position: absolute;
//         height: 30px;
//         width: 1px;
//         background-color: #6F6F6F;
//         left: -10px;
//       }
//     }
//   }

//   .settings-bar {                 
//     background-color: #262626;

//     display: flex;
//     flex-direction: row;
//     flex-wrap: nowrap;
//     justify-content: space-around;
//     align-items: center;
//     align-content: stretch;
//     margin-left: 10px;
//     padding: 5px 0 5px 10px;
//     border-radius: 5px;
//     width: 200px;

//     &-icon {
//         width: 25px;
//         height: 25px;
//         position: relative;
//         cursor: pointer;
//       }
//   }


//   .wpm-icon {
//     color: #fff;
//     opacity: 65%;
//     font-size: 28px;
//     line-height: 45px;
//     -webkit-touch-callout: none; /* iOS Safari */
//     -webkit-user-select: none; /* Safari */
//      -khtml-user-select: none; /* Konqueror HTML */
//        -moz-user-select: none; /* Old versions of Firefox */
//         -ms-user-select: none; /* Internet Explorer/Edge */
//             user-select: none; /* Non-prefixed version, currently
//                                   supported by Chrome, Edge, Opera and Firefox */

//     &:hover {
//       opacity: 100%;
//       transition: all ease 0.1s;
//     }
//   }

//   .color-indicator {
//     width: 25px;
//     height: 25px;
//     background-color: rgb(168, 241, 154);
//     border-radius: 50%;
//   }

//   .mode-indicator {
//     mix-blend-mode: normal !important;
//     width: 35px;
//     height: 25px;
//   }

//   .modeOption {
//     width: 45px;
//     height: 25px;
//     padding: 10px 1px;

//     display: flex;
//     align-items: center;
//     justify-content: center;
//     background-color: transparent !important;
//     &.inactive {
//       background-color: transparent !important;
//       opacity: .5 !important;

//     }
//     &.active {
    
//       opacity: 1 !important;
//       //background-color: #6F6F6F !important;

//       &::before {
//         content: none;
//       }

//     }

//     .mini-pointer {
//       height: 70%;
//       width: 70%;
//     }

//   }

//   .color-option {
//     width: 22px;
//     height: 22px;
//     border-radius: 25px;
//     margin: 5px 6px; 
    

//   }

//   .displayN {
//     display: none;
//   }

//   #underneath {
//     margin: 0 !important;
//     position: relative;
    
//   }

//   #hotbox {
//   }

//   #faded {
//   }

  
//   #font {
    
//   }
  
//   #color {
    
//   }

//   #mode {
//     margin: 35px 0;
//     position: relative;

//     &::before {
//       width: 70%;
//       height: 1px;
//       background-color: #6F6F6F;
//       content: "";
//       position: absolute;
//       top: -14px;
//     }


//     &::after {
//       width: 70%;
//       height: 1px;
//       background-color: #6F6F6F;
//       content: "";
//       position: absolute;
//       bottom: -22px;
//     }

//   }

//   #fovea {
//     // margin-top: 15px;
//     height: fit-content;
//     .pragma-label{
//       margin-top: -25px;
//     }
//   }
  
//   #wpm {
//     .pragma-label {
//       position: relative;
//       left: 0;
//       margin: 0;
//       opacity: 1;
//       font-size: 18px;
//     }
//   }
  
  
// }

.lector-mini-settings{
  @extend .glass-block;
  @extend .fixed-bottom-box;
  right: -10px;
  padding-right: 40px;
  
  .section {
    margin-top: 25px;
    margin-bottom: 25px;
  }
}
.settings-input{
  display: flex;
  flex-direction: column;
  align-items: center;
}



.pragma-input-text {
  font-family: 'IBM Plex Mono', monospace;  
  font-size: 22px;

  border-style: none;
  outline: none;
  color: whitesmoke;
  border-radius: 2px;
  background-color: transparent;
  text-align: center;

  &:hover {
    background: #393939;

  }
}

.active-select-template {
  display: flex;
  flex-direction: row;
  flex-wrap: no wrap;
  justify-content: space-around;
  align-items: center;
  width: 100%;

  .option {
    user-select: none;
    cursor: pointer;
  }
  
  .active {
    opacity: 1 !important;
    background-color: gray;
    position: relative;
    transform-style: preserve-3d;

    &::after {
      
    height: 32px;
    top: -6px;
    left: -10px;

    }

    &::before {               // THIS APPLIES JUST ON COLOR SELECTOR
      width: 30px;
      height: 30px;
      top: -4px;
      border-radius: 2px;
      left: -4px;
      background-color: #6F6F6F;
      position: absolute;
      border-radius: 50%;
      content: "";
      z-index: -1;
      transform: translateZ(-1px);
      transition: ease all .2s;
      -webkit-transition: all 1s;
      -moz-transition: all 1s;
      animation: sheen 1s forwards;
    }
  }
  
  .inactive {
    background-color: rgb(26, 26, 26);
  }
}


.word-element {
  cursor: pointer;
  transition: all .05s ease;
  border-radius: 1px;
  border-bottom: 1px solid transparent;
  margin-bottom: -1px;

  &.hover-0{
    background-color: #2b6cce37;
    outline: 2px solid #2b6cce37;
    border-radius: 0px;
  }
  &.hover-1 {
    background-color: rgba(184, 184, 184, 0.249);
  }
  &.hover-2 {
    background-color: rgba(184, 184, 184, 0.119);
    //filter: blur(.5px);
  }
  &.hover-3 {
    background-color: rgba(184, 184, 184, 0.043);
  }

  &.mark-is-here {
    // &::before {
    //   content: " ";
    //   background-color: #2b6cce;
    //   width: 5px;
    //   height: 5px;
    //   position: sticky;
    //   top: -25px;
    //   left: 25px;
    //   display: inline-block;
    //   border-radius: 50%;
    // }
    // background: pink;
    border-bottom: 1px solid #2b6cce;
    background-color: #2b6cce19;
  }

}

.fade-onload {
    $time: .5s;
    -webkit-animation: fadein $time; /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: fadein $time; /* Firefox < 16 */
     -ms-animation: fadein $time; /* Internet Explorer */
      -o-animation: fadein $time; /* Opera < 12.1 */
         animation: fadein $time;


    @keyframes fadein {
        from { opacity: 0; }
        to   { opacity: 1; }
    }

    /* Firefox < 16 */
    @-moz-keyframes fadein {
        from { opacity: 0; }
        to   { opacity: 1; }
    }

    /* Safari, Chrome and Opera > 12.1 */
    @-webkit-keyframes fadein {
        from { opacity: 0; }
        to   { opacity: 1; }
    }

    /* Internet Explorer */
    @-ms-keyframes fadein {
        from { opacity: 0; }
        to   { opacity: 1; }
    }

    /* Opera < 12.1 */
    @-o-keyframes fadein {
        from { opacity: 0; }
        to   { opacity: 1; }
    }
}

.mark-obscurer {
  background-color: #262626;
  &.from-top {
    // border-top: 10px blue solid;
  }
  &.from-bottom {
    // border-bottom: 10px blue solid;
  }
}



#mark-indicator {
  @extend .fade-onload;
  
  position: fixed;
  bottom: 20px;
  left: 50%;
  padding: 10px;
  margin-left: -20px;
  border-radius: 5px;
  background-color: #262626;
  height: fit-content;

  >svg {
    height: auto;
    width: 20px;
  }

  &.upwards {
    top:20px;
    transform: rotate(180deg);
  }
}