@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@300;400;700&family=IBM+Plex+Sans:wght@300;400;700&display=swap');

// font-family: 'IBM Plex Mono', monospace;
// font-family: 'IBM Plex Sans', sans-serif;

$animation: 0.15s;

.collapsable {
	overflow: hidden;
	transition: all $animation ease;
	// transition: opacity 0.05s eas;

	height: auto;
	flex: 1;
	&.collapsed{
		flex: 0;
	}
}   

.box-container {

    background-color: #262626;
    border-radius: 4px;

    display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: flex-start;
	align-items: stretch;
	align-content: stretch;

    height: auto;

    padding: 10px 15px;
    width: 158px;

    // box-sizing: border-box;
}

.bar {
    @extend .box-container;
    width: fit-content;
	flex-direction: row;
	justify-content: space-between;
    align-items: center;
}

.settings {
	// @extend .collapsable;

    z-index: 999999999999999;
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 18px;
        // opacity: 0.98;

    bottom: 10px;
    left: 10px;
    // height: fit-content;
    // min-height: 50px;
    color: whitesmoke;
    position: fixed;
	
    #popup {
	    @extend .collapsable;
        @extend .box-container;
        display: block !important;
		position: absolute;
		bottom: 55px;
    }
	
    #wpm {
        width: 100px;
        padding-left: 20px;
        margin-left: 15px;
        border-left: 1px solid gray;
    }

    #settings-bar {
        // @extend .box-container;
    }

    [data-setting-target="back"] {
        cursor: pointer;
        height: 24px;
        display: flex;
        align-items: center;
        margin-bottom: 27px;

        &::after {
            content: '';
            height: 2px;
            width: 120%;
            background-color: #6f6f66;
            position: absolute;
            top: 40px;
            left: 0;
        }

        .back-icon {
            margin-right: 10px;
            margin-right: 18px;
            margin-left: 7px;
        }

        .back-copy {
            margin-bottom: 3px;
        }
    }
    

    #page-bar {
        position: fixed;
        right: 10px;
        bottom: 10px;
    }
    

    #zoom-bar {
        position: fixed;
        right: 10px;
        top: 20px;

        padding: 8px 5px;
        .setting {
            .arrows {
                height: 80px;
                justify-content: space-between;
            }

            height: fit-content;
        }
    }

}


.edible-display {

  background: #39393950; 
  padding: 1px 5px !important;

  font-family: 'IBM Plex Mono', monospace;  
  font-size: 18px;

  border-style: none;
  outline: none;
  color: whitesmoke;
  border-radius: 2px;
  text-align: center;

  &:hover {
    background: #7b7b7b35;
  }

}

.setting {
    
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-start;
    height: 30px;
	
	user-select: none;
	-webkit-user-select: none;

    &:hover{
        // background-color: rgb(43, 43, 43);
    }

    &.collapsable {
        height: 40px;
    }

    &.inline {
        height: 30px;
        width: 100%;    
    }

    &.expanded {
        height: 200px;
    }

    &.collapsed {

        height:0;
        flex: 0;
    }


    .section {
        width: 100%;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-between;
        align-items: center;
        align-content: stretch;
		cursor: pointer;
    }
    
    .collapsed-section{
        @extend .section;
    }

    .editor-content {
        .option {
            display: flex;
            margin: 15px 0;
            cursor: pointer;
            opacity: 70%;
            //background: gray;
			&.selected {
                opacity: 100%;
            }
            
        }
    }
    

    .color-blob {
        width: 22px;
        height: 22px;
        border-radius: 30px;
        margin-right: 10px;

        &.selected {
            border: 10px solid red ;
        }
    }

    .mode-icon {
        margin-right: 20px;
    }

    .arrows {
        // position: absolute;
        display: flex;
        flex-direction: column;
        padding: 5px;
        justify-content: center;
        align-items: center;

        svg, div {
            opacity: .7;
            &:hover {
                opacity: 1;
            }
            cursor: pointer;
            padding: 2px 0;
        }
    }
   
} 

[data-setting='mode']{


    [data-option='Underneath']{
        margin: 0px 0px 20px 0  !important;
        display: flex;
        align-items: center;


    }

        
}


.-selector {
    * {
        z-index: 99;
    }

    &::before {
        content: '';
        height: 50px;
        width: 120%;
        background-color: #515151;
        position: absolute;
        z-index: 0 !important;
        left: 0;
        margin-top: -11px;
    }

    &::after {
        content: '';
        width: 5px;
        height: 50px;
        background-color: #2b6cce;
        position: absolute;
        left: 0;
        margin-top: -11px;
    }
}

.-color-selector {
    @extend .-selector;

    $selector_height: 40px;

    &::before {
        height: $selector_height;
    }

    &::after {
        height: $selector_height;
    }
}

.-settings-section-list {
    .option {
        transition: all ease 0.2s;
        align-items: stretch !important;

        &.selected {
            @extend .-selector;
        }   
    }
}
.settings > #popup {
    #mode {
       @extend .-settings-section-list; 
    }

    #color {
        @extend .-settings-section-list;
        .option.selected {
            @extend .-color-selector;
        }
    }   
}

.lottie {
    position: relative;
    transition: all ease 0,5s;


    &[data-loading = "true"] {
       
        &::before {
            // create a loader
            content: "";
            position: absolute;
            margin: auto;
            width: 25px;
            left: 50%;
            height: 25px;

            
        }
    }

    &.click-lottie {
        margin-top: -10px;
        height: 200px;
    }

}