.pragma-slider {
  user-select: none;      
  cursor: grab;
    &:active {
        cursor: grabbing;
    }
}

.pragma-slider-bg {
  width: 100%;
  height: 5px;
//   background: #2525259c;
  background: #6F6F6F;
  border-radius: 15px;
}

.pragma-slider-bar {
  height: 100%;
  width: 100%;
  background: #2B6CCE;
  position: relative;
  transition: all .05s ease;
  border-radius: 15px;
}

.pragma-slider-thumb {
  width: 5px;
  height: 18px;

  background: #2b6cce;
  transition: all .05s ease;
  position: absolute;
  right: 0;
  top: 50%;
  bottom: 50%;
  margin: auto;
}

.slider-display {
  text-align: center;
  padding-bottom: 20px;
}